<style>
        body {
            background-color: #f0f8ff;
        }

        h1 {
            text-align: center;
            font-family: "Brush Script MT", cursive;
            color: #1e90ff;
        }

        h2 {
            text-align: center;
            font-family: Arial, sans-serif;
            background-color: #dcdcdc;
            color: #2f4f4f;
        }

        p {
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #333333;
        }
        .TextoBorda {
           border: 2px solid #ccc;
           border-radius: 10px;
           box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
           padding: 15px;
           margin: 20px auto;
           max-width: 600px;
           background-color: #fff;
}
        a {
           text-decoration: none;
           color: #1e90ff;
           font-weight: bold;
           transition: 0.3s;
}

       a:hover {
           color: #ff4500;
}

       a:active {
           color: red;

}


       